<!DOCTYPE html>
<html>
  <head>
    <title>Employee Table</title>
  </head>
  <body>

    <b><a href="/login">BACK</a></b>
    <h1>Employee Table</h1>
    <table>
      <thead>
        <tr>
          <th>E_id</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Phone_No</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
            {% for i in row %}
          <td>{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
